/*
 * lay-out
 */

.list--horizontal {
  display: flex;
}

.flex-container {
  display: flex;
}

.textbody {
  max-width: 600px;
  margin: 0 auto 100px;
  width: 95%;
}

.paragraph {
  text-align: left;
  margin-bottom: 1em;
}

.paragraph__list {
  list-style-type: disc;
  font-size: 12px;
  line-height: 1.7em;
  margin: 1em 0;
}

.paragraph__sub {
  font-size: 10px;
  margin: 1em 0;
}

.wrapper {
  padding: 0 5%;
  max-width: 1450px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  position: relative;
  padding-bottom: 70px;
}

.grid {
  &__item {
    margin: auto 0 110px;
    max-width: 450px;
    padding-right: 70px;
  }
}

.row {
  display: flex;
}

.col {
  padding: 0;
  width: 100%;
}

.col--no-padding {
  padding: 0;
}

.flexblock {
  flex: 1 0 calc(21%);
  display: flex;
  min-width: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

// responsive
.open-menu {
  overflow: hidden;
}

.open-menu .header {
  .nav__logo {
    display: none;
  }
  .nav__toggle {
    .top {
      transform: rotate(-45deg);
    }
    .middle {
      opacity: 0;
    }
    .bottom {
      transform: rotate(45deg);
    }
  }
  .nav {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

/*
 * components
 */

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 85px;
  width: 100%;
  padding: 0 60px;
  z-index: 9000;
  background: $green;
  .nav {
    .list {
      &__item {
        margin-right: 30px;
        letter-spacing: -0.4px;
        color: $yellow;
        transition: filter 0.4s ease-out;
        cursor: pointer;
        &:hover,
        &.is-active {
          filter: brightness(1.4);
        }
        &.is-unavailable {
          color: gray;
          pointer-events: none;
          user-select: none;
        }
      }
    }
  }
  .nav__logo {
    height: 50px;
    margin-right: 50px;
    filter: invert(82%) sepia(55%) saturate(308%) hue-rotate(356deg)
      brightness(102%) contrast(98%);
  }
  .nav__toggle {
    position: absolute;
    right: 30px;
    top: 25px;
    width: 30px;
    height: 30px;
    display: none;
    z-index: 9001;
    cursor: pointer;
    .top,
    .middle,
    .bottom {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 4px;
      margin: -2px 0 0;
      background: $yellow;
      transform-origin: 50%;
      transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .top {
      transform: translate(0, -10px);
    }
    .bottom {
      transform: translate(0, 10px);
    }
  }
}

.slider {
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  scroll-behavior: smooth; /* For smooth scrolling */
}

.slider img {
  height: calc(60vh - 85px);
}

.splash {
  width: 100vw;
  padding-top: 85px;
}

.shop .splash {
  background: url(./../../assets/img/splash__shop.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 70%;
}

.app .splash,
.shop .splash,
.editions .splash {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 85px);
  margin-top: 85px;
  img {
    width: 400px;
    max-width: 50%;
  }
}

.app .header,
.shop .header,
.editions .header {
  background: none;
  bottom: auto;
  top: 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 320%;
  right: 4%;
  background: url("./../../assets/img/illustration__comb-2.png");
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  pointer-events: none;
  user-select: none;
}

.app .header::before,
.shop .header::before,
.editions .header::before {
  display: none;
}

.introduction__illustration {
  height: 400px;
}

.mobile-logo {
  display: none;
}

.introduction {
  margin: 100px 0 70px;
}

.team,
.editions {
  justify-content: space-around;
  padding-bottom: 200px;
  &__item {
    min-width: 0;
    margin-bottom: 40px;
    img {
      max-width: 220px;
      padding: 5px;
    }
    h5 {
      margin-bottom: 0;
    }
    &__socials {
      display: flex;
      gap: 10px;
      img {
        height: 40px;
      }
    }
    &__portfolio {
      margin: 0 0 20px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

.editions {
  padding: 85px 0 140px;
  .wrapper {
    gap: 20px;
    align-items: stretch;
  }
  &__item {
    border: 4px dashed $green;
    border-radius: 5px;
    margin: 0 5px;
    &--released {
      border: 4px solid transparent;
    }
  }
}

.partners {
  padding-bottom: 140px;
  &__item {
    min-width: 0;
    a {
      margin: 120px 0;
      transition: all 0.4s ease-out;
      img {
        max-width: 220px;
      }
    }
  }
}

.partners__item a:hover {
  filter: brightness(1.4);
}

.partners::before {
  content: "";
  position: absolute;
  top: -45%;
  left: 5%;
  background: url("./../../assets/img/illustration__comb-3.png");
  height: 400px;
  width: 400px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  pointer-events: none;
}

.who,
.what {
  position: relative;
  &__illustration {
    position: absolute;
    top: 0;
    width: 400px;
  }
}

.what {
  &__illustration {
    left: 100px;
  }
  .flex-container {
    justify-content: flex-end;
  }
}

.who {
  &__illustration {
    width: 500px;
    right: 100px;
  }
}

.footer {
  padding: 60px 0 70px;
  background: $yellow;
  letter-spacing: -0.5px;
  position: relative;
  .meta {
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    line-height: 24px;
    &__note {
      display: flex;
      flex-direction: column;
      &__sub {
        font-size: 10px;
        margin: 12px 0;
        font-family: futura-medium-bt;
      }
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  &__credit {
    padding: 200px 0 0;
    font-family: futura-medium-bt, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: $green;
    &__url {
      color: $purple--dark;
    }
  }
}

.footer::before {
  content: "";
  position: absolute;
  top: -25%;
  right: 10%;
  background: url(./../../assets/img/illustration__comb-4.png);
  height: 400px;
  width: 400px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  pointer-events: none;
  user-select: none;
}

/*
 * styling
 */

.social-icon {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 25px;
  &__img {
    &:before {
      position: absolute;
      left: 0;
      top: -1px;
      content: "";
      height: 32px;
    }
  }
  &__discord {
    &:before {
      width: 20px;
      background: url("./../../assets/img/social-icon__twitter--dark.png");
      background-size: 100%;
    }
  }
  &__twitter {
    &:before {
      width: 28px;
      background: url("./../../assets/img/social-icon__twitter--dark.png");
      background-size: 100%;
    }
  }
  &__zealy {
    &:before {
      width: 28px;
      background: url("./../../assets/img/social-icon__twitter--dark.png");
      background-size: 100%;
    }
  }
}

.social-icon__whatsapp {
  &:hover {
    &:before {
      background: url("./../../assets/img/social-icon__twitter--dark.png");
      background-size: 100%;
    }
  }
}

.social-icon__linkedin {
  &:hover {
    &:before {
      background: url("./../../assets/img/social-icon__twitter--dark.png");
      background-size: 100%;
    }
  }
}

.social-icon__instagram {
  &:hover {
    &:before {
      background: url("./../../assets/img/social-icon__twitter--dark.png");
      background-size: 100%;
    }
  }
}

.social-icon__youtube {
  &:hover {
    &:before {
      background: url("./../../assets/img/social-icon__twitter--dark.png");
      background-size: 100%;
    }
  }
}

.footer {
  .social-icon {
    display: flex;
    &:first-child {
      margin-left: 0;
    }
    &__discord {
      &:before {
        width: 40px;
        background: url("./../../assets/img/social-icon__discord--dark.png");
        background-size: 100%;
      }
    }
    &__twitter {
      &:before {
        width: 40px;
        margin: -1px 0 0;
        background: url("./../../assets/img/social-icon__twitter--dark.png");
        background-size: 100%;
      }
    }
    &__telegram {
      &:before {
        width: 40px;
        background: url("./../../assets/img/social-icon__telegram--dark.png");
        background-size: 100%;
      }
    }
    &__out {
      &:before {
        margin-left: 4px;
        width: 27px;
        background: url("./../../assets/img/social-icon__out.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }
    &__zealy {
      &:before {
        width: 27px;
        background: url("./../../assets/img/social-icon__zealy.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }
    &__subber {
      &:before {
        margin-left: -4px;
        width: 14px;
        background: url("./../../assets/img/social-icon__subber.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }
  }
}

.cta {
  display: inline-block;
  cursor: pointer;
  padding: 15px 50px;
  background: $yellow;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
  color: $purple--dark;
  font-family: futura-medium-bt, sans-serif;
  font-size: 18px;
  border-radius: 5px;
  color: $yellow;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  color: $yellow;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  transition: filter 0.4s ease-out;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  filter: brightness(1.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.section--light {
  background: $yellow;
  color: $green;
}

.footer {
  .cta {
    margin-left: 7px;
    background: $green;
  }
}

.meta {
  display: flex;
  font-family: futura-medium-bt, sans-serif;
  font-size: 18px;
  margin-bottom: 70px;
  place-self: flex-start;
  &__item {
    margin-right: 70px;
    padding-left: 40px;
    position: relative;
    display: flex;
    white-space: nowrap;
  }
  &__time {
    &:before {
      position: absolute;
      left: 0;
      top: -2px;
      content: "";
      height: 27px;
      width: 27px;
      background: url("./img/icons/meta-icon__time.svg");
      background-size: 100%;
    }
  }
  &__price {
    &:before {
      position: absolute;
      left: 0;
      top: -2px;
      content: "";
      height: 27px;
      width: 26px;
      background: url("./img/icons/meta-icon__price.svg");
      background-size: 100%;
    }
  }
}

.textblock {
  margin-bottom: 70px;
  &__content {
    width: 100%;
    max-width: 600px;
    p {
      margin-bottom: 24px;
    }
  }
  h3 {
    margin-bottom: 20px;
  }
}

.highlight--title {
  color: $yellow;
}

.highlight--paragraph {
  font-family: futura-medium-bt, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $yellow;
  line-height: 25px;
  vertical-align: middle;
}

.highlight--dark {
  color: $purple--dark;
}
