// =============================================
// Colors
// =============================================

$gray: #dedee6;
$purple--dark: #17102b;
$purple--light: #c0aee8;

// =============================================
// Typography
// =============================================
