// =============================================
// Colors
// =============================================

$green: #384b66;
$purple--dark: #333366;
$yellow: #fde58b;

// =============================================
// Typography
// =============================================
