// =============================================
// Colors
// =============================================

$green: #263136;
$purple--dark: #17102b;
$yellow: #fde58b;

// =============================================
// Typography
// =============================================
